/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
    float: left;
    width: 100%;
}

html, .stylelint {
    line-height: 1.125em;
    /* 18 / 16=  1.125 */
}

body {
    float: left;
    width: 100%;
}

body, .stylelint {
    line-height: inherit;
}

ol, ul, .stylelint {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* stylelint-enable */

/* Begin site styles below */

/*
  Base Styles

  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/*
  Setting type with a 5:4 modular scale
  http://www.modularscale.com/?16&px&1.25
*/

html {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.125em;
    /* 18 / 16 = 1.125 */
}

* {
    box-sizing: border-box;
}

h1, h2 {
    font-family: Oswald, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 1.953em;
    /* 31.25 / 16 = 1.953 */
    line-height: 1.152em;
    /* 36 รท 31.25 = 1.152 */
}

h2 {
    font-size: 1.5625em;
    /* 25 / 16 = 1.563 */
    line-height: 1.44em;
    /* 36 / 25 = 1.44 */
    padding-bottom: 0.72em;
    /* 18 / 25 = 0.72 */
}

h3 {
    font-size: 1.25em;
    /* 20 / 16 = 1.25*/
    line-height: 1.8em;
    /* 36 / 20 = 1.8 */
    padding-bottom: 0.9em;
    /* 18 / 20 = 0.9 */
}

h4, p, li {
    line-height: 1.125em;
    /*18 / 16 = 1.125;*/
}

h4 {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
}

time {
    display: inline-block;
}

form input, form textarea {
    border: solid 0.063em #ddd;
    /* 1 / 16 = 0.063 */
}

/* Responsive Media */

img, video, audio {
    display: block;
    max-width: 100%;
}

article ol, article ul {
    padding-left: 1.125em;
    /* 18 / 16 = 1.125 */
}

article ol {
    list-style-type: decimal;
}

article ul {
    list-style-type: square;
}

article li ol, article li ul {
    padding-left: 1.125em;
    /* 18 / 16 = 1.125 */
    padding-bottom: 0;
}

article li ol {
    list-style-type: lower-alpha;
}

article li li ol {
    list-style-type: lower-roman;
}

/*
 Layout Styles

 Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

#header {
    display: block;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0.3125em 0.3125em #f2f2f2;
    padding: 1.125em 5%;
}

#header h1 {
    position: relative;
    float: left;
    z-index: 2;
    color: #b31178;
}

#main {
    padding: 1.125em 0;
    /*18 / 16 = 1.125*/
}

#nav {
    overflow: hidden;
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1.125em 5%;
    /* 18 / 16 : 1.125 */
}

#nav li {
    display: block;
}

#nav a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5625em 0;
    /* 9 / 16 : 0.5625 */
    display: block;
}

#nav a:hover, #nav li.current_page_item a {
    color: #b31178;
    transition: color 0.2s;
}

#nav .menu {
    margin-bottom: 1.125em;
    text-align: center;
}

#nav .network {
    text-align: center;
    height: 1.125rem;
    /*36 / 16 = 2.25*/
}

#nav .network li {
    display: inline;
    padding: 0.5625em;
    /*9 / 16 = 0.5625*/
    width: auto;
    float: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
}

#nav .network .facebook, #nav .network .linkedin {
    width: 1.125rem;
    height: 1.125rem;
    line-height: 2.25rem;
    /*36 / 16 = 2.25*/
}

#nav .network .facebook {
    background-image: url("../images/facebook.png");
    /* will add hover effect later */
}

#nav .network .linkedin {
    background-image: url("../images/linkedin.png");
    /* will add hover effect later */
}

/* Responsive menu button */

#show-nav {
    position: relative;
    float: right;
    z-index: 9999;
    width: 2.5em;
    height: 2.2em;
    background: none;
    display: inline-block;
    /*display: flex;*/
    transition: 0.3s;
    cursor: pointer;
}

#show-nav span {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 0.1875rem;
    /* 3/16 =0.1875 */
    margin: 10%;
    background: #b31178;
    border-radius: 0.28571rem;
    transition: background 0.3s 0.5s ease;
}

#show-nav span:before, #show-nav span:after {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #b31178;
    border-radius: 0.28571em;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: "";
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#show-nav span:before {
    top: 0.625em;
}

#show-nav span:after {
    top: -0.625em;
}

#show-nav.close span {
    transition: background 0.3s 0s ease;
    background: transparent;
}

#show-nav.close span:before, #show-nav.close span:after {
    transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
    top: 5%;
    left: -5%;
    width: 110%;
}

#show-nav.close span:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

#show-nav.close span:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

#footer {
    margin-top: 1.125em;
    padding: 1.125em 5%;
    /* 18/16=1.125*/
    color: #fff;
    background-color: #010101;
}

#footer .copyright {
    float: right;
    width: auto;
}

#footer .contact-info {
    float: left;
    width: auto;
}

/* Modular Styles */

/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/

.page-title {
    padding-left: 5%;
    padding-right: 5%;
}

.content {
    /*float: none;*/
    padding: 1.125em 5%;
    /* 18 / 16 = 1.125 */
}

/*.content h2, .content h3, .content h4, .content p, .content ul, .content ol, .content li {
  float: left;
  width: 100%;
}*/

.content h4, .content p, .content ol, .content ul {
    padding-bottom: 1.125em;
    /* 18 / 16 = 1.125 */
}

.content h4, .content time {
    padding-bottom: 0.5625em;
    /* 9 / 16 = 0.5625 */
}

.content li {
    padding-bottom: 0.5625em;
    /* 9 / 16 = 0.5625 */
}

.content li:last-child {
    padding-bottom: 0;
}

.content li ol, .content li ul {
    padding-top: 0.5625em;
    /* 9 / 16 = 0.5625 */
}

.content li li:last-child {
    padding-bottom: 0;
}

/* About */

.about .bg-image {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('../images/backlit-keyboard.JPG');
    background-size: cover;
}

.about .bg-image:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.about .skills {
    position: relative;
    color: #fff;
    margin: auto;
    text-transform: uppercase;
}

.about .skills li {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.25em;
    /* 36 / 16 = 2.25 */
}

/* Resume */

.resume .timeline {
    background-color: #f2f2f2;
}

.resume h3 {
    color: #b31178;
    text-transform: uppercase;
    font-weight: bold;
}

.resume h4 {
    font-weight: bold;
}

.timeline li, .interests li {
    padding-bottom: 1.125em;
    /* 18 / 16 = 1.125 */
}

.timeline li:last-child, .interests li:last-child {
    padding-bottom: 0;
}

/* Portfolio */

.portfolio {
    float: left;
    width: 100%;
}

.portfolio h3 {
    padding-top: 0.9em;
    /* 18 / 20 = 0.9 */
    text-transform: uppercase;
    font-weight: bold;
}

.portfolio .portfolio-entry {
    float: left;
}

.portfolio .portfolio-entry:nth-child(2n+1) {
    background-color: #f2f2f2;
}

.portfolio .categories li, .portfolio .team li {
    display: inline;
    /*font-size: 0.875em;*/
    /* 14 / 16 = 0.875 */
}

/* Contact */

.contact h3 {
    color: #b31178;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-info .address, .contact-info .phone, .contact-info .email {
    position: relative;
    display: block;
    padding: 0 0 1.125em 2em;
    /*32 / 16 = 2 */
    /*18 / 16 = 1.125;*/
    float: left;
    width: 100%;
}

.address:before, .phone:before, .email:before {
    content: "";
    width: 1.1em;
    height: 1.1em;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.address:before {
    background-image: url("../images/home.png");
}

.phone:before {
    background-image: url("../images/phone.png");
}

.email:before {
    background-image: url("../images/envelope.png");
}

.contact-form {
    background: #f2f2f2;
    display: block;
}

.contact-form form {
    display: block;
    width: 100%;
    margin-top: 1.125em;
    /* 18 / 16 = 1.125 */
}

.contact-form input, .contact-form textarea, .contact-form label {
    font-size: 1rem;
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.contact-form input, .contact-form textarea {
    padding: 0.625em;
    margin-bottom: 1.125em;
    background: #fff;
    /*10 / 16 = 0.625;*/
}

.contact-form input {
    height: 2.25em;
    /*36 / 16 = 2.25;*/
    margin-bottom: 1.125em;
    background: #fff;
    /*10 / 16 = 0.625;*/
}

.contact-form input[type="submit"]:hover {
    background-color: #b31178;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.page-404 h2 {
    color: #b31178;
}

/*
 CSS Grid layouts
*/

.cssgrid body {
    display: grid;
    grid-template-rows: min-content;
    min-height: 100vh;
}

.cssgrid header, .cssgrid footer, .cssgrid main, .cssgrid section {
    float: none;
    width: auto;
}

.cssgrid #main {
    display: grid;
    grid-template-rows: min-content;
}

.cssgrid .page-title, .cssgrid .content {
    float: none;
    width: auto;
}

.cssgrid .about {
    grid-template-columns: 1fr 1fr;
}

.cssgrid .about .content, .cssgrid .about .photo {
    grid-column: 1/3;
}

.cssgrid .portfolio .portfolio-entries {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cssgrid .portfolio .portfolio-entry {
    grid-column: 1/3;
}

.cssgrid .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cssgrid .contact .page-title {
    grid-column: 1/3;
}

.cssgrid .contact .content {
    grid-column: 1/3;
}

.cssgrid .content p, .cssgrid .content h1, .cssgrid .content h2, .cssgrid .content h3, .cssgrid .content h4, .cssgrid .content ul, .cssgrid .content ol, .cssgrid .content li {
    float: none;
}

.cssgrid .content ul li, .cssgrid .content ol li {
    float: none;
}

.cssgrid .skills .skills-groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cssgrid #header {
    align-self: flex-start;
}

.cssgrid #footer {
    align-self: flex-end;
}

/* Flexbox */

.flexbox #header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox #nav {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexbox #nav .menu {
    width: auto;
    flex-grow: 1;
}

.flexbox #header h1 {
    float: none;
}

.flexbox:not(.cssgrid) .skills .skills-groups {
    display: flex;
}

/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

.js body:after {
    content: "expanded-nav";
    display: none;
}

.js #nav {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.3125em 0.3125em #f2f2f2;
    padding: 1.125em 5%;
    /* 18 / 16 : 0.5625 */
}

.js #nav.opened {
    opacity: 1;
    z-index: 2;
    transition: 0.4s;
}

@media screen and (min-width: 640px) {
    /* About */
    #main.about {
        padding-top: 0;
    }

    .about .content, .about .photo {
        width: 50%;
    }

    .about .content {
        margin-top: 1.125em;
        padding: 1.125em 5%;
    }

    .about .photo {
        float: left;
    }

    .about .bg-image {
        width: 50%;
    }

    .about .skills {
        position: initial;
        right: 0;
        text-align: right;
    }

    /* Resume */
    .resume {
        float: left;
        width: 100%;
    }

    .skills .skills-group {
        float: left;
        width: 50%;
    }

    .skills .skills-group ul {
        padding-top: 0;
    }

    /*Portfolio*/
    .portfolio .portfolio-entry {
        position: relative;
        width: 50%;
        padding: 1.125em 5%;
    }

    .portfolio .portfolio-entry img {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    /* .portfolio .portfolio-entry:after{
      content:"";
      position:absolute;
      width:100%;
      height:100%;
      left:0;
      top:0;
      background: url('../images/blurry-mask.png') no-repeat;
      background-size:cover;
    } */
    .portfolio .portfolio-entry:nth-child(2n+1) {
        clear: left;
        background-color: #fff;
    }

    .portfolio .portfolio-entry:nth-child(3n-2) {
        background-color: #f2f2f2;
    }

    /*Contact*/
    .contact .content {
        width: 47.5%;
        padding: 1.125em 5%;
    }

    .contact .contact-form {
        margin-right: 5%;
    }

    /* CSS Grid*/
    .cssgrid .about .content {
        width: auto;
        padding: 1.125em 10%;
        grid-column: auto;
    }

    .cssgrid .about .photo {
        width: auto;
        grid-column: auto;
        align-self: flex-start;
    }

    .cssgrid .portfolio .portfolio-entry {
        width: auto;
        padding: 1.125em 10%;
        grid-column: auto;
    }

    .cssgrid .contact .content {
        width: auto;
        padding: 1.125em 10%;
        grid-column: auto;
    }

    .cssgrid .contact .contact-form {
        margin-right: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .js body:after {
        content: "";
    }

    .js #nav {
        position: relative;
        top: auto;
        left: auto;
        opacity: 1;
        float: left;
        width: calc(100% - 9.625rem);
        z-index: auto;
        box-shadow: none;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0.5625em;
        /*9 / 16 = 0.5625*/
        text-align: center;
    }

    #header {
        padding: 1.125em 5%;
    }

    #header h1 {
        font-size: 2em;
        line-height: 1.6875em;
        /* 54 / 32 = 1.6875 */
        width: 9.625rem;
        /* 154 / 16 = 9.625*/
    }

    #nav {
        top: auto;
        left: auto;
        float: left;
        width: calc(100% - 9.625rem);
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0.5625em;
        /*9 / 16 = 0.5625*/
        text-align: center;
    }

    #nav li {
        display: inline;
    }

    #nav a {
        display: inline;
        float: none;
        padding: 0 1em;
        font-weight: bold;
    }

    #nav .menu {
        float: left;
        width: 80%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #nav .network {
        float: right;
        max-width: 20%;
        padding-bottom: 0;
    }

    /*#show-nav {
      display: none;
    }*/
    .flexbox #header {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .flexbox #nav {
        flex-direction: row;
    }

    .flexbox #nav .menu {
        width: auto;
        flex-grow: 1;
    }

    .flexbox #header h1 {
        float: none;
    }
}

@media screen and (min-width: 1366px) {
    /*General*/
    #header {
        padding-left: 9.375rem;
        padding-right: 9.375rem;
        /*150/16 =9.375*/
    }

    #footer {
        padding-left: 9.375rem;
        padding-right: 9.375rem;
        /*150/16 =9.375*/
    }

    .content, .page-title {
        padding: 1.125rem 9.375rem;
        /*150/16 =9.375*/
    }

    .about .content, .cssgrid .about .content {
        padding: 1.125rem 9.375rem;
    }

    .page-title {
        padding-left: 9.375rem;
        padding-right: 9.375rem;
        /*150/16 =9.375*/
    }

    .portfolio .portfolio-entry, .cssgrid .portfolio .portfolio-entry {
        padding: 1.125em 9.375rem;
        /*300/16 =9.375*/
    }

    .contact .contact-info {
        width: 50%;
    }

    .contact .contact-form {
        width: calc(50% - 9.375em);
    }

    .contact .contact-info, .cssgrid .contact .contact-info {
        padding-left: 9.375rem;
    }

    .contact .contact-form, .cssgrid .contact .contact-form {
        margin-right: 9.375rem;
    }

    .contact .contact-form {
        margin-right: 0;
    }
}
